{
    "Changes": [
        {
            "Action": "UPSERT",
            "ResourceRecordSet": {
                "Name": "www.parallelgame.net.",
                "ResourceRecords": [
                    {
                        "Value": "{%IP%}"
                    }
                ],
                "TTL": 60,
                "Type": "A"
            }
        }
    ]
}

